*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:  #f2ebe3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    
}
.productCard{
    background-color:white;
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1.25rem;
    max-width: 250px;
}
.perfume{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem  0rem 0rem 0.75rem ;
    content: url(./images/image-product-desktop.jpg);
}
p{
    color: #6c7289;
}
.descriptions{
    font-size: 15px;
}

.Dprice  {
   color: #6c7289;
   font-size: 14px;
}
.brand{
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Fraunces;
    color:black;
}
.price{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.Aprice{
    font-size: 2rem;
    font-weight: 700;
    font-family: Fraunces;
    color: #3c8067;
}

.Dprice{
    font-size: 0.85rem;
    text-decoration: line-through;
    color: #6c7289;
     
}
.btn{
    width: 100%;
    background-color: #3c8067;
    display: flex;
    justify-content: center;
    gap: 0.95rem;
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px;
}
.btn:hover {
    background-color:#1b4133;
}
.cart{
    color: white;
}
@media (max-width: 600px) {
 .productCard{
    display: flex;
    flex-direction: column;
 }   
.details{
    gap: 0.95;
}
.btn{
    width: 100%;
}
.perfume{
    content: url(./images/image-product-mobile.jpg);
 border-radius: 0.75rem 0.75rem 0rem 0rem;
}
}